<div class="not-prose bg-base-900 rounded-xl p-2 mt-4 ">
    <div class="not-prose flex flex-col gap-2 p-2 lg:p-4 inset-shadow-lg inset-ring inset-ring-base-500/25 border border-base-500/30 rounded-xl bg-base-950 shadow-lg">
        <!-- Terminal buttons -->
        <div class="flex justify-end-safe gap-1.5">
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-700/60 border border-accent-600"></div>
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-600/60 border border-accent-600"></div>
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-500/60 border border-accent-600"></div>
        </div>
        <img src="@Src" alt="Scrren" />

    </div>
</div>

@code {

    [Parameter]
    public string Src { get; set; }
}