<div class="not-prose bg-base-900 rounded-xl p-2 mt-4 shadow-xl">
    <div class="not-prose flex flex-col rounded-xl">
        <!-- Terminal buttons -->
        <div class="flex justify-end-safe gap-2 py-2 px-4 bg-base-900">
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-400/90 dark:bg-accent-700/60 border border-account-600 dark:border-accent-600"></div>
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-300/90 dark:bg-accent-600/60 border border-account-600 dark:border-accent-600"></div>
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-200/90 dark:bg-accent-500/60 border border-account-600 dark:border-accent-600"></div>
        </div>
        <div class="rounded-2xl py-2 px-2 lg:px-6 bg-base-800 dark:bg-black/25">
            <img src="@Src" alt="Scrren" />
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Src { get; set; } = null!;

}